header .header-title {
    background: #00ab91;
    height: 200px;
    color: #efefef;
    line-height: 200px;
    text-align: center;
    font-size: 28px;
    font-weight:bold;
  }
  
  section {
    margin:0 auto;
    padding-top:2.5%;
    padding-bottom:2.5%;
    max-width:600px;
  }
  
  section.content-block {
    font-family:'proxima-nova-soft';
  }
  section.content-block p {
    font-weight:500;
  }

  
.student-container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 95vw;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: bisque;
    padding: 1rem;
  }